<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Habits</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">

                    <app-list
                      [habits$]="habits$"
                      (habitEmitter)="selectHabit($event)"
                    ></app-list>
                  <app-detail
                    [habit]="selectedHabit"
                    *ngIf="selectedHabit"
                    (deleteHabit)="deleteHabit()"
                    (updateHabit)="updateHabit()"
                  ></app-detail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
